@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-gray: #EFEFEF;
    --text-black: #333333;
}

body {
    margin: 0;
    padding: 0;
    background-color: #EFEFEF;
    color: #333333;
    font-family: "proxima-nova", sans-serif;
}

.navbar {
    height: 100px;
}

